/* all common css start  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ol ul {
    list-style-type: none;
}
.mr{
    margin-right: 0 !important;
}
.clr{
    clear: both;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
/* all common css end */
/* header part start  */
#header_part{
    width: 100%;
    background: #fef5f9;
}
.logo{
    margin-top: 35px;
    width: 170px;
    float: left;

}
.menu{
    width: 800px;
    float: left;
    text-align: center;
}
.menu ul li {
    display: inline-block;
    
   
}
.menu ul li a{
    color: #000000;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 45px;
    transition: .4s;
}
.menu ul li a:hover{
    color: #d50a51;
}
.button_part {
    width: 200px;
    float: left;
    height: 50px;
    background: #d50a51;
    border-radius: 50px;
    text-align: center;
    margin-top: 30px;
}
.btn {
    background: #d50a51;
    color: #ffffff;
    border: none;
    margin-top: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    
}
.btn img{
   background: red;
    margin: -4px 5px;
    
}
.faul{
    padding-top: 7px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.victor_obj{
    float: left;
    padding-top: 40px;

    
}
.victor_obj img{
    background: #fef5f9;
    width: 550px;
    margin-right: 70px;
}
.happy_part{
    float: left;
    padding-top: 130px;
    width: 550px;
    text-align: center;

}
.happy_part h1{
    color: #8a5e3b;
    font-size: 61px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}
.happy_part h3{
    color: #d50a51;
    font-size: 84px;
    font-weight: 400;
    font-family: 'Great Vibes', cursive;
    padding-bottom: 30px;
   
}
.happy_part p{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
   line-height: 26px;
   
}
.happy_part h4{
    width: 215px;
    height: 50px;
    border: 1px solid #d50a51;
    border-radius: 50px;
    margin: 60px 170px;
    padding-top: 16px;
    color: #d50a51;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

 /* header part end  */

 /* banner part start  */
 #banner_part{
    padding-top: 100px;
    background: #ffffff;
    padding-bottom: 50px;
 }
 .bike_part{
    width: 550px;
    float:left;
    margin-right: 50px;
    margin-bottom: 95px;
 }
 .licka_part{
    width: 570px;
    float: left;
    padding-top: 25px;
 }
 .licka_part h3{
    color: #666666;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 93px;
 }
 .licka_part img{
    margin: -53px 40px;
 }
 .licka_part h4{
    color: #d50a51;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 93px;
 }
 .licka_part p{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    padding-top: 60px;

 }
 .part_two p{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    padding-top: 35px;
 }




 /* banner part end  */
  /* box part start  */
#box_part{
    padding-bottom: 60px;
    background: #fff9de;
 
   
}
.box_part_one{
    float: left;
    width: 570px;
    height: 400px;
    margin-left: 100px;
    padding-top: 60px;
   
}
.box_part_one img{
    margin: -55px 15px;
}
.box_part_one h3{
    color: #666666;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 70px;
}
.box_part_one h4{
    color: #d50a51;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 65px;
}
.box_part_one p{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    padding-top: 55px;
}
.box_part_sec p{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    padding-top: 35px;
    padding-bottom: 35px;
}


.box_part_two{
    float: left;
    width: 500px;
    margin: auto;
   
    
  
}
.box_part_two img{
    height: 535px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}
.gift{
    float: left;
    background: #d50a51;
    border-radius: 40px;
    
    
}
.gift h3{
    color: #fefefe;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    border: none;
    margin: 35px -45px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Proposal{
    float: left;
    margin: 0 10px;

}
.Proposal h3{
    border: 1px solid #d50a51;
    border-radius: 50px;
    padding: 20px 33px;
    color: #d50a51;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

 /* box part end */

/* couple part start */
#couple_part{
    padding-top: 115px;
    background: #ffffff;
    padding-bottom: 95px;
}
.couple_part-img{
    float: left;
    width: 570px;
    margin-right: 30px;
}
.couple_part-img img {
    width: 100%;
}
.couple_part_text{
    float: left;
    width: 570px;
}
.couple_part_text img{
    margin: -55px 485px;
}
.couple_part_text h3{
    color: #666666;

    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 405px;
}
.couple_part_text h4{
    color: #d50a51;
    font-size: 32.28px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    padding: 0 52px;
   
}
.couple_part_text p{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    padding-top: 60px ;
    
}
.couple_sec p{
    padding-top: 40px ;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    
}
.part_ticket{
    float: left;
    margin: 35px 200px;
    background:#d50a51 ;
    border-radius: 50px;
    
    
}
.part_ticket h3{
    
    border: none;
    
    padding: 20px 33px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;


}
.part_quoate{
    float: right;
    margin: -93px 20px;
    
}
.part_quoate h3{
    border: 1px solid #d50a51;
    border-radius: 50px;
    padding: 20px 33px;
    color: #d50a51;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
 

}

        
         /* couple part end */

         /* offre service part start  */
#offer_part{
    padding-top:  65px ;
    background: #fef3f8;
    padding-bottom: 60px;
    
}
.service_part{
    float: left;
    width: 366px;
    margin-right: 35px;
}
.service_part img{
    margin: -60px 0;
}
.service_part h3{
    color: #666666;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 50px;
}
.service_part h4{
    color: #d50a51;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
   
    padding: 0 50px;
}
.service_part p{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    padding-top: 60px ;
}
.service_sco p{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.romantic_part{
    float: left;
    width: 370px;
    margin-right: 58px;
    position: relative;
    
}
.romanone{
    border: 1px solid #f1f1f1;
    background: #f1f1f1;
   

}
.romanone::after{
    height:220px;
	width: 5px;
	position: absolute;
	background-color: #d50a51;
	content: "";
	top: 0%;
    right: 0%;
}

.romanone img{
    margin: 0 30px;
    padding-top: 25px;
}
.romanone h3{
    color: #d50a51;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
   
}
.romanone p{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
   
    padding: 20px 25px;
}
.romantwo{
    padding-top: 60px;
}
.romantwo img{
    margin: 0 30px;
}
.romantwo h3{
    color: #d50a51;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
   
}
.romantwo p{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
   
    padding: 20px 26px;
}
.drinks_part{
    float: left;
    width: 304px;
    margin-right: 36px;
}

.drinkone img{
    margin: 0 30px;
    padding-top: 25px;
}
.drinkone  h3{
    color: #d50a51;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
   
}
.drinkone p{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
   
    padding: 20px 26px;
}
.drinktwo{
    padding-top: 60px;
}
.drinktwo img{
    margin: 0 30px;
}
.drinktwo h3{
    color: #d50a51;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
   
}
.drinktwo p{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
   
    padding: 20px 26px;
}


         /* offre service part end  */
         /* card part img start  */

#card_part{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #ffffff;
}
.cardone  :hover{
    background: #000000;
}
        /* card part img end */

 


